dist
dist-*
cabal-dev
*~
*.swp
*.swo
\#*\#
*.elc
*.o
*.prof
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.pdf
*.prof
*.log
*.aes
*.hp
*.eventlog
*.eventlog.html
.virtualenv
.hsenv
.cabal-sandbox/
**/.stack-work*
cabal.sandbox.config
cabal.config
cabal.project.local
TAGS
!TAGS/
tags
!tags/
client.crt
client.key
admin/static/markup-rule/*.gz
admin/static/markup-rule/*.map
**/admin/static/dev
/docker/stack
/docker/ghcjs
/docker/stack-work
/docker/node_modules
/docker/nix
/nix/result*
/nix/stackage/*.nix
.tmp/
stack*.yaml.lock
.envrc
.bin
.vscode
/air/seatmap-frontend/.ghc.environment.*
/air/seatmap-frontend/result
.hpc
cabal*.project.local
cabal*.project.local~
.HTF/
.ghc.environment.*
Makefile.local
.gcroots
hie.yaml
.dir-locals.el
/sso/auth-frontend/elm-pages/dev/elm.js
/bin
/result*
